html, body{
   font-family: helvetica;
}

.displayRecordMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createRecords {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}